<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Calculator
    body
        .calculator
            .display
                .reset C
                .input
            .keys(data-type='7') 7
            .keys(data-type='8') 8
            .keys(data-type='9') 9
            .keys(data-type='/') &#247;
            .keys(data-type='4') 4
            .keys(data-type='5') 5
            .keys(data-type='6') 6
            .keys(data-type='*') &#215;
            .keys(data-type='1') 1
            .keys(data-type='2') 2
            .keys(data-type='3') 3
            .keys(data-type='-') -
            .keys(data-type='0') 0
            .keys(data-type='.') .
            .keys(data-type='=') =
            .keys(data-type='+') +